@using Client.ViewModels;
@model PageBoardVM;

@{
   Layout = "_UserLayout";
   ViewData["Title"] = "Detail Board";
   ViewData["FullName"] = Model.DecodeJwtVM.FullName;
}

@section Navs {
<div class="list-group list-group-flush">
   <a asp-controller="Boards" asp-action="Detail" asp-route-id="@Context.Request.RouteValues["id"]" class="list-group-item list-group-item-action list-group-item-light p-3 
      @(ViewContext.RouteData.Values["Action"].ToString() == "Detail" ? "isActive" : "")">Board</a>
</div>
<div class="list-group list-group-flush">
   <a asp-controller="Boards" asp-action="Members" asp-route-id="@Context.Request.RouteValues["id"]" class="list-group-item list-group-item-action list-group-item-light p-3 
      @(ViewContext.RouteData.Values["Action"].ToString() == "Members" ? "isActive" : "")">Members</a>
</div>
<div class="list-group list-group-flush">
   <a asp-controller="Boards" asp-action="Pending" asp-route-id="@Context.Request.RouteValues["id"]" class="list-group-item list-group-item-action list-group-item-light p-3 
      @(ViewContext.RouteData.Values["Action"].ToString() == "Pending" ? "isActive" : "")">Pending Invitation</a>
</div>
}

<input type="hidden" name="boardId" id="boardId" value="@Model.BoardId">

<div class="header row p-4 shadow rounded ">
   <div class="col">
      <h2 id="title"></h2>
      <p id="description">

      </p>
   </div>
   <div class="col" style="text-align: right;">
      <p style="color: #646464; font-size: 18px;">Date created</p>
      <p style="color: #646464; font-size: 18px;" id="createdAt">28 April 2022, 20:12 PM</p>
      <div class="d-flex float-right mt-2" style="text-align: right;">

         <div id="display-btn-invite">
            @* <button class="btn btn-invite mr-4" style="background-color: #FAF5E4; color: #8B8B8B"
               data-bs-toggle="modal"
               data-bs-target="#inviteModal">+ Invite Member</button> *@
         </div>
         <div id="members" class="members d-flex"></div>
      </div>
   </div>
</div>

<div class="row mt-5">
   <div class="col-md-3">
      <h3 style="color: #2231B6;">Todo</h3>
      <div class="todos" id="todos"></div>

   </div>

   <div class="col-md-3">
      <h3 style="color: #16BDD3;">In Progress</h3>
      <div class="in-progress" id="in-progress"></div>
   </div>


   <div class="col-md-3">
      <h3 style="color: #B43CED;">Review</h3>
      <div class="review" id="review"></div>

   </div>


   <div class="col-md-3">
      <h3 style="color: #10D024;">Done</h3>
      <div class="done" id="done"></div>
   </div>

</div>


@* button create list *@
<div class="display-btn-create-list">
   <div class="create-list" style="position: fixed; bottom: 30px; right: 50px; ">
      <button class="btn text-white" style="background-color: #F8B401;" data-bs-toggle="modal"
         data-bs-target="#createListModal">+ Create List</button>
   </div>
</div>

<!-- Modal Invite -->
<div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="inviteModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="inviteModalLabel">Invite Member</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form onsubmit="inviteMember()" id="form-invite">
               <div class="form-group">
                  <label for="email" class="col-form-label">Email:</label>
                  <input type="text" class="form-control" id="email">
               </div>

               <div class="form-group">
                  <label for="role" class="col-form-label">Role:</label>
                  <input type="text" class="form-control" id="role">
               </div>

               <button type="submit" class="btn float-right"
                  style="background-color: #F8B401; color: white">Invite</button>
            </form>
         </div>
         <div class="modal-footer">

         </div>
      </div>
   </div>
</div>

<!-- Modal Create List -->
<div class="modal fade" id="createListModal" tabindex="-1" aria-labelledby="createListModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="createListModalLabel">Create List</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form onsubmit="createList(@Model.DecodeJwtVM.Id)">
               <div class="form-group">
                  <label for="name-list" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="name-list">
               </div>

               <button type="submit" class="btn float-right" style="background-color: #F8B401; color: white">Create
                  List</button>
            </form>
         </div>
         <div class="modal-footer">

         </div>
      </div>
   </div>
</div>


<!-- Modal Update List -->
<div class="modal fade" id="updateListModal" tabindex="-1" aria-labelledby="updateListModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateListModalLabel">Update List</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form onsubmit="updateList(@ViewBag.BoardId)">
               <input type="hidden" name="id-list-update" id="id-list-update">
               <input type="hidden" name="createdby-list-update" id="createdby-list-update">
               <input type="hidden" name="boardid-list-update" id="boardid-list-update">


               <div class="form-group">
                  <label for="name-list-update" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="name-list-update">
               </div>

               <div class="form-group">
                  <label for="name-list-update" class="col-form-label">Status:</label>
                  <select class="form-select" name="status-list-update" id="status-list-update"
                     aria-label="Default select example">
                     <option value="Todo">Todo</option>
                     <option value="In Progress">In Progress</option>
                     <option value="Review">Review</option>
                     <option value="Done">Done</option>
                  </select>
               </div>

               <button type="submit" class="btn float-right" style="background-color: #F8B401; color: white"
                  onclick="updateList()">Update
                  List</button>
            </form>
         </div>
         <div class="modal-footer">

         </div>
      </div>
   </div>
</div>

<!-- Modal Create Card -->
<div class="modal fade" id="createCardModal" tabindex="-1" aria-labelledby="createCardModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="createCardModalLabel">Create Card</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form onsubmit="createCard(@Model.DecodeJwtVM.Id)">
               <input type="hidden" class="form-control" id="list-id-card">

               <div class="form-group">
                  <label for="name-card" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="name-card">
               </div>

               <div class="form-group">
                  <label for="description-card" class="col-form-label">Description:</label>
                  <textarea type="text" class="form-control" id="description-card"></textarea>
               </div>

               <div class="form-group">
                  <label for="description-card" class="col-form-label">Due Date:</label>
                  <input type="date" class="form-control" id="due-card">
               </div>

               <button type="submit" class="btn float-right" style="background-color: #F8B401; color: white">Create
                  Card</button>
            </form>
         </div>
         <div class="modal-footer">

         </div>
      </div>
   </div>
</div>


<!-- Modal Detail Card -->
<div class="modal fade" id="detailCardModal" tabindex="-1" aria-labelledby="detailCardModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-body p-4">
            <div class="header-detail-card">
               <h4 id="name-card-detail">
                  Loading ...
               </h4>
               <p id="name-list-detail">Loading ...</p>
            </div>

            <div class="description-detail-card">
               <h5>Description</h5>
               <p id="description-card-detail">
                  Loading ...
               </p>
            </div>

         </div>
         <div class="modal-footer">

         </div>
      </div>
   </div>
</div>


@section Scripts {
<script src="~/js/Board/Detail.js"></script>
<script>
   getBoardDetailById(`@ViewBag.BoardId`, '@Model.DecodeJwtVM.Id');
   getListByBoardId(`@ViewBag.BoardId`);
</script>
}