@using Client.ViewModels;
@model PageBoardVM;

@{
   Layout = "_UserLayout";
   ViewData["Title"] = "Detail Board";
   ViewData["FullName"] = Model.DecodeJwtVM.FullName;
}

@section Links {
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

@section Navs {
<div class="list-group list-group-flush">
   <a asp-controller="Boards" asp-action="Detail" asp-route-id="@Context.Request.RouteValues["id"]" class="list-group-item list-group-item-action list-group-item-light p-3 
      @(ViewContext.RouteData.Values["Action"].ToString() == "Detail" ? "isActive" : "")">Board</a>
</div>
<div class="list-group list-group-flush">
   <a asp-controller="Boards" asp-action="Timeline" asp-route-id="@Context.Request.RouteValues["id"]" class="list-group-item list-group-item-action list-group-item-light p-3 
      @(ViewContext.RouteData.Values["Action"].ToString() == "Timeline" ? "isActive" : "")">Timeline</a>
</div>
<div class="list-group list-group-flush">
   <a asp-controller="Boards" asp-action="Members" asp-route-id="@Context.Request.RouteValues["id"]" class="list-group-item list-group-item-action list-group-item-light p-3 
      @(ViewContext.RouteData.Values["Action"].ToString() == "Members" ? "isActive" : "")">Members</a>
</div>
<div class="list-group list-group-flush">
   <a asp-controller="Boards" asp-action="Pending" asp-route-id="@Context.Request.RouteValues["id"]" class="list-group-item list-group-item-action list-group-item-light p-3 
      @(ViewContext.RouteData.Values["Action"].ToString() == "Pending" ? "isActive" : "")">Pending Invitation</a>
</div>
}

<input type="hidden" name="boardId" id="boardId" value="@Model.BoardId">
<input type="hidden" name="userId" id="userId" value="@Model.DecodeJwtVM.Id">


<div class="header row p-4 shadow rounded bg-white ">
   <div class="col">
      <h2 id="title"></h2>
      <p id="description">

      </p>
   </div>
   <div class="col" style="text-align: right;">
      <p style="color: #646464; font-size: 18px;">Date created</p>
      <p style="color: #646464; font-size: 18px;" id="createdAt">28 April 2022, 20:12 PM</p>
      <div class="d-flex float-right mt-2" style="text-align: right;">

         <div id="display-btn-invite">
            @* <button class="btn btn-invite mr-4" style="background-color: #FAF5E4; color: #8B8B8B"
               data-bs-toggle="modal"
               data-bs-target="#inviteModal">+ Invite Member</button> *@
         </div>
         <div id="members" class="members d-flex"></div>
      </div>
   </div>
</div>

<div class="row mt-5">
   <div class="col-md-3">
      <h3 style="color: #2231B6;">Todo</h3>
      <div class="todos" id="todos"></div>

   </div>

   <div class="col-md-3">
      <h3 style="color: #16BDD3;">In Progress</h3>
      <div class="in-progress" id="in-progress"></div>
   </div>


   <div class="col-md-3">
      <h3 style="color: #B43CED;">Review</h3>
      <div class="review" id="review"></div>

   </div>


   <div class="col-md-3">
      <h3 style="color: #10D024;">Done</h3>
      <div class="done" id="done"></div>
   </div>

</div>


@* button create list *@
<div id="display-btn-create-list">

</div>

<!-- Modal Invite -->
<div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="inviteModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="inviteModalLabel">Invite Member</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form onsubmit="inviteMember()" id="form-invite">
               <div class="form-group">
                  <label for="email" class="col-form-label">Email:</label>
                  <input type="text" class="form-control" id="email">
               </div>

               <div class="form-group">
                  <label for="role" class="col-form-label">Role:</label>
                  <input type="text" class="form-control" id="role">
               </div>

               <button type="submit" class="btn float-right"
                  style="background-color: #F8B401; color: white">Invite</button>
            </form>
         </div>
         <div class="modal-footer">

         </div>
      </div>
   </div>
</div>

<!-- Modal Create List -->
<div class="modal fade" id="createListModal" tabindex="-1" aria-labelledby="createListModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="createListModalLabel">Create List</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form onsubmit="createList(@Model.DecodeJwtVM.Id)">
               <div class="form-group">
                  <label for="name-list" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="name-list">
               </div>

               <button type="submit" class="btn float-right" style="background-color: #F8B401; color: white">Create
                  List</button>
            </form>
         </div>
         <div class="modal-footer">
         </div>
      </div>
   </div>
</div>


<!-- Modal Update List -->
<div class="modal fade" id="updateListModal" tabindex="-1" aria-labelledby="updateListModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateListModalLabel">Update List</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form onsubmit="updateList(@ViewBag.BoardId)">
               <input type="hidden" name="id-list-update" id="id-list-update">
               <input type="hidden" name="createdby-list-update" id="createdby-list-update">
               <input type="hidden" name="boardid-list-update" id="boardid-list-update">


               <div class="form-group">
                  <label for="name-list-update" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="name-list-update">
               </div>

               <div class="form-group">
                  <label for="name-list-update" class="col-form-label">Status:</label>
                  <select class="form-select" name="status-list-update" id="status-list-update"
                     aria-label="Default select example">
                     <option value="Todo">Todo</option>
                     <option value="In Progress">In Progress</option>
                     <option value="Review">Review</option>
                     <option value="Done">Done</option>
                  </select>
               </div>

               <button type="submit" class="btn float-right" style="background-color: #F8B401; color: white"
                  onclick="updateList()">Update
                  List</button>
            </form>
         </div>
         <div class="modal-footer">

         </div>
      </div>
   </div>
</div>

<!-- Modal Create Card -->
<div class="modal fade" id="createCardModal" tabindex="-1" aria-labelledby="createCardModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="createCardModalLabel">Create Card</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form onsubmit="createCard(@Model.DecodeJwtVM.Id)">
               <input type="hidden" class="form-control" id="list-id-card">

               <div class="form-group">
                  <label for="name-card" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="name-card">
               </div>

               <div class="form-group">
                  <label for="description-card" class="col-form-label">Description:</label>
                  <textarea type="text" class="form-control" id="description-card"></textarea>
               </div>

               <button type="submit" class="btn float-right" style="background-color: #F8B401; color: white">Create
                  Card</button>
            </form>
         </div>
         <div class="modal-footer">

         </div>
      </div>
   </div>
</div>

<!-- Modal Update Card -->
<div class="modal fade" id="updateCardModal" tabindex="-1" aria-labelledby="updateCardModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateCardModalLabel">Update Card</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form onsubmit="updateCard(@Model.DecodeJwtVM.Id)">
               <input type="hidden" class="form-control" id="card-id-card-update">
               <input type="hidden" class="form-control" id="list-id-card-update">

               <div class="form-group">
                  <label for="name-card" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="name-card-update">
               </div>

               <div class="form-group">
                  <label for="description-card" class="col-form-label">Description:</label>
                  <textarea type="text" class="form-control" id="description-card-update"></textarea>
               </div>

               <button type="submit" class="btn float-right" style="background-color: #F8B401; color: white">Update
                  Card</button>
            </form>
         </div>
         <div class="modal-footer">

         </div>
      </div>
   </div>
</div>


<!-- Modal Detail Card -->
<div class="modal fade" id="detailCardModal" tabindex="-1" aria-labelledby="detailCardModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <input type="hidden" class="form-control" id="card-id">
         <div class="modal-body p-4">
            <div class="header-detail-card mb-2">
               <div class="d-flex justify-content-between align-items-center">
                  <h4 id="name-card-detail">
                     Loading ...
                  </h4>
                  <div class="display-actions-card">

                  </div>
               </div>
               <p id="name-list-detail" class="text-secondary">Loading ...</p>
            </div>

            @* Description *@
            <div class="description-detail-card mt-4">
               <h5>Description</h5>
               <p id="description-card-detail" class="text-secondary">
                  Loading ...
               </p>
            </div>

            <div class="checklist-detail-card mt-4">
               <h5>Tasks</h5>
               <div class="progress" id="progress-tasks">
                  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                     aria-valuemax="100">25%</div>
               </div>

               @* tasks *@
               <div class="tasks mt-4 d-flex flex-column" style="gap: 20px;">
                  <p>Loading ...</p>
               </div>

               <div class="w-100 mt-4 d-flex justify-between-center" id="display-btn-add-task">

               </div>

               @* Comments *@
               <div class="comments-detail-card mt-4">
                  <h5>Comments</h5>

                  <div class="comments mt-3 d-flex flex-column" style="gap: 10px;">
                     <div class="row">
                        <div class="col-md-1">
                           <img src="https://ui-avatars.com/api/?name=test&background=random" alt="test" width="40px"
                              class="rounded-circle" data-toggle="tooltip" data-placement="right" title="test - PM">
                           </img>
                        </div>
                        <div class="col-md-10">
                           <p style="font-size: 14px;" class="text-secondary">
                              Lorem ipsum ?
                           </p>
                        </div>
                        <div class="col-md-1">
                           <button class="btn btn-outline-danger mr-1 btn-sm" onclick="console.log('delete')">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                           </button>
                        </div>
                     </div>

                  </div>

                  <form onsubmit="sendComment(@Model.DecodeJwtVM.Id)">
                     <div class="input-group mb-3 mt-4">
                        <input type="text" class="form-control" placeholder="Write a comment..." id="comment-text"
                           aria-label="Write a comment..." aria-describedby="button-comment" required>
                        <button class="btn" style="background-color: #F8B401; color: white;" type="submit"
                           id="button-comment">Send</button>
                     </div>
                  </form>
               </div>

            </div>
            <div class="modal-footer">

            </div>
         </div>
      </div>
   </div>
</div>

<!-- Modal Create Checklist -->
<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="createTaskModalLabel">Create Task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form onsubmit="createTask(@Model.DecodeJwtVM.Id)">
               <div class="form-group">
                  <label for="name-task" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="name-task" placeholder="Name of task..." required>
               </div>

               <div class="form-group">
                  <label for="members-task" class="col-form-label">Members:</label>
                  <br>
                  <select class="form-control members-task" id="members-task" name="members[]" multiple
                     style="width: 100%;">
                  </select>

               </div>

               <div class="form-group">
                  <label for="start-task" class="col-form-label">Start Date:</label>
                  <input type="date" class="form-control" id="start-task" required>
               </div>

               <div class="form-group">
                  <label for="due-task" class="col-form-label">Due Date:</label>
                  <input type="date" class="form-control" id="due-task" required>
               </div>

               <button type="submit" class="btn float-right" style="background-color: #F8B401; color: white">Create
                  Task</button>

            </form>
         </div>
         <div class="modal-footer">

         </div>
      </div>
   </div>
</div>


<!-- Modal Update Checklist -->
<div class="modal fade" id="updateTaskModal" tabindex="-1" aria-labelledby="updateTaskModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateTaskModalLabel">Update Task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form onsubmit="updateTask(@Model.DecodeJwtVM.Id)">
               <input type="hidden" id="id-task-update">
               <div class="form-group">
                  <label for="name-task" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="name-task-update" placeholder="Name of task..." required>
               </div>

               <div class="form-group">
                  <label for="members-task" class="col-form-label">Members:</label>
                  <select class="form-control members-task" id="members-task-update" multiple>
                  </select>

               </div>

               <div class="form-group">
                  <label for="start-task-update" class="col-form-label">Start Date:</label>
                  <input type="date" class="form-control" id="start-task-update" required>
               </div>

               <div class="form-group">
                  <label for="due-task" class="col-form-label">Due Date:</label>
                  <input type="date" class="form-control" id="due-task-update" required>
               </div>

               <button type="submit" class="btn float-right" style="background-color: #F8B401; color: white">Update
                  Task</button>

            </form>
         </div>
         <div class="modal-footer">

         </div>
      </div>
   </div>
</div>

@section Scripts {
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="~/js/Board/Detail.js"></script>
<script>
   getBoardDetailById(`@ViewBag.BoardId`, '@Model.DecodeJwtVM.Id', '@Model.Token');
   getListByBoardId(`@ViewBag.BoardId`);

   $(document).ready(function () {
      $('#members-task').select2({
         dropdownParent: $('#createTaskModal'),
         width: '100%'
      });

      $('#members-task-update').select2({
         dropdownParent: $('#updateTaskModal'),
         width: '100%'
      });
   })
</script>
}