@using Client.ViewModels;
@model PageBoardVM;

@{
   Layout = "_UserLayout";
   ViewData["Title"] = "Member Board";
   ViewData["FullName"] = Model.DecodeJwtVM.FullName;
}

@section Navs {
<div class="list-group list-group-flush">
   <a asp-controller="Boards" asp-action="Detail" asp-route-id="@Context.Request.RouteValues["id"]" class="list-group-item list-group-item-action list-group-item-light p-3 
      @(ViewContext.RouteData.Values["Action"].ToString() == "Detail" ? "isActive" : "")">Board</a>
</div>
<div class="list-group list-group-flush">
   <a asp-controller="Boards" asp-action="Timeline" asp-route-id="@Context.Request.RouteValues["id"]" class="list-group-item list-group-item-action list-group-item-light p-3 
      @(ViewContext.RouteData.Values["Action"].ToString() == "Timeline" ? "isActive" : "")">Timeline</a>
</div>
<div class="list-group list-group-flush">
   <a asp-controller="Boards" asp-action="Members" asp-route-id="@Context.Request.RouteValues["id"]" class="list-group-item list-group-item-action list-group-item-light p-3 
      @(ViewContext.RouteData.Values["Action"].ToString() == "Members" ? "isActive" : "")">Members</a>
</div>
<div class="list-group list-group-flush">
   <a asp-controller="Boards" asp-action="Pending" asp-route-id="@Context.Request.RouteValues["id"]" class="list-group-item list-group-item-action list-group-item-light p-3 
      @(ViewContext.RouteData.Values["Action"].ToString() == "Pending" ? "isActive" : "")">Pending Invitation</a>
</div>
}

<h1>Timeline</h1>

<div id="chart" class="mt-5 bg-white p-4 shadow rounded"></div>

@section Scripts {
<script src="~/js/board/timeline.js"></script>

<script>
   getTimelineBoard('@Context.Request.RouteValues["id"]', '@Model.Token');
</script>
}