<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/adminLayout.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/Buttons/2.2.2/css/buttons.bootstrap4.min.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <style>
        .isActive {
            background-color: #FAF5E4;
        }
    </style>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading bg-white px-3 py-5">
                <img src="~/images/logo.png" alt="logo" width="150px">
            </div>
            <div class="list-group list-group-flush">
                <a asp-controller="Admin" asp-action="Dashboard"
                    class="list-group-item list-group-item-action list-group-item-light p-3 
                    @(ViewContext.RouteData.Values["Action"].ToString() == "Dashboard" ? "isActive" : "")">Dashboard</a>
                <a asp-controller="Admin" asp-action="Users" class="list-group-item list-group-item-action list-group-item-light p-3
                    @(ViewContext.RouteData.Values["Action"].ToString() == "Users" ? "isActive" : "")">Users</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-white bg-white border-bottom">
                <div class="container-fluid">
                    @* <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button> *@
                    <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars" aria-hidden="true"></i></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-lg-flex justify-content-between w-100 align-items-center">
                            <div class="pt-3" style="line-height: 10px;">
                                <p style="color: #595959; font-size: 20px;">Hi, @ViewData["FullName"]</p>
                                <p style="font-weight: bold; font-size: 20px;">Welcome Back!</p>
                            </div>

                            <div>
                                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                    @* <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-warning mr-3" id="navbarDropdown"
                                        href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="position: relative;">
                                        <i class="fa fa-bell text-warning" aria-hidden="true"></i>
                                        <span class="badge badge-danger badge-counter"
                                        style="position: absolute; top: 4; font-size: 8px; right: 9;">3+</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                        </div>
                                        </li> *@
                                    <li class="nav-item ">
                                        <img src="https://ui-avatars.com/api/?name=@ViewData["FullName"]&background=random"
                                            alt="avatar" width="56" class="rounded-circle nav-link dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            style="cursor: pointer;">
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-controller="Admin"
                                                asp-action="Profile">Profile</a>
                                            <a class="dropdown-item" asp-controller="Auth"
                                                asp-action="Logout">Logout</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid p-5">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/plug-ins/1.11.5/api/sum().js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <script src="~/js/Admin/user.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script>
        window.addEventListener('DOMContentLoaded', event => {

            // Toggle the side navigation
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                // Uncomment Below to persist sidebar toggle between refreshes
                // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
                //     document.body.classList.toggle('sb-sidenav-toggled');
                // }
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }

        });

        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
</body>

</html>
